li
{
    display: inline;
    float: left;
    list-style-type: none;
    padding: 15px;
}
a
{
    text-decoration: none;
}
.list
{
    margin-left: 60%;
    padding-top: 15px;
}
#web
{
    background-color: aqua;
    height: 2cm;
}
#food
{
    position: absolute;
    left: 85px;
    top: 10px;
}
#box
{
    box-shadow: 0 1px 5px 1px;
}
.img
{
    position: absolute;
    left: 150px;
    top: 30%;
    height: 10cm;
}
#br
{
    position: absolute;
    left: 450px;
    top: 40%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.img1
{
    position: absolute;
    left: 150px;
    top: 90%;
    height: 10cm;
}
#br1
{
    position: absolute;
    left: 450px;
    top: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.img2
{
    position: absolute;
    left: 150px;
    top: 150%;
    height: 10cm;
}
#br2
{
    position: absolute;
    left: 450px;
    top: 160%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#foot
{
    position: absolute;
    left: 30px;
    top: 200%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#hr
{
   margin-top: 90%;
}
#c
{
    position: absolute;
    left: 30px;
    top: 205%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a
{
    color: black;
}
a:hover
{
    color: brown;
}
#phone
{
    position: absolute;
    left: 30px;
    top: 210%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}